/* float untuk mengatur dan memaksa tata letak dari parent nya hanya none left right */
.container {
    width: 600px;
    border: 2px solid black;
    margin: auto;
    padding: 5px;
}

.kotak{
    width: 100px;
    height: 100px;
    background-color: salmon;
    color: wheat;
    text-align: center;
    font-size: 30px;
    margin: 2px;
    line-height: 100px;
    float: left;
}
