.container {
    width: 800px;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
}

.kiri {
    background-color: yellow;
    width: 150px;
    border: 1px solid black;
    float: left;
}

.tengah {
    width: 500px;
    background-color: slategray;
    border: 1px solid black;
    float: left;
}

.kanan {
    width: 142px;
    background-color: steelblue;
    border: 1px solid black;
    float: left;
}