body {
    background-color: salmon;
    transition: 5s;
}

body:hover {
    background-color: lightskyblue;
    transition: 3s;
}



.kotak {
    width: 300px;
    margin: 170px auto;
    height: 300px;
    background-color: lightskyblue;
    border-radius: 20%;
    transition: 5s;
}

.kotak:hover {
    transform: rotate(3600deg);
    transition: 5s;
    background-color: salmon;
    border-radius: 50%;
}